<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="test" verbose="1" parallel="true" thread-count="2">
    <test name="mytest">
        <classes>
            <class name="com.tools.atf.test.Test.SimpleLoginAndLogOut"/>
        </classes>
    </test>
</suite>